.nav {
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  transition: color 0.3s;
  font-weight: 400;
}

.nav a:hover::after,
.nav a.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}